@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Colors */
  --color-orange-main: #f24e1e;
  --color-orange-dark: #b92b00;
  --color-grey-light: rgb(201 201, 201);
  /* Props */
  --linear-shadow: 0 0 5px 1px rgb(201, 201, 201);
  /* Fonts */
  --font-regular: normal 300 26px "Outfit";
  --font-sm-bold: normal 400 26px "Outfit";
  --font-bold: normal 600 26px "Outfit";
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* helper class */
.wrapper {
  max-width: 90%;
  margin: 0 10%;
}

/* top_bar */
.nav {
  width: 100vw;
  height: 75px;
  background-color: white;
  box-shadow: var(--linear-shadow);
  /* Position */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav__container {} */

.nav__logo {
  width: 145px;
  height: 40px;
}

.nav__toggle {
  margin-top: 12px;
  font-size: 30px;
  color: var(--color-orange-main);
  cursor: pointer;
  z-index: 2;
}

.menu {
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-orange-main);
  /* Position */
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1;
  transition: 0.3s all ease-out;
}

.menu--visible {
  left: 52%;
  transition: 0.3s all ease-out;
}

.menu__container {
  margin-top: 80px;
}

.menu__item {
  margin-top: 8px;
  padding: 10px;
  list-style: none;
  text-align: center;
}

.menu__item:hover {
  background-color: var(--color-orange-dark);
  transition: 0.5s all ease-out;
}

.menu__link {
  font: var(--font-regular);
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 991px) {
  .nav__toggle {
    display: none;
  }

  .menu {
    width: 500px;
    height: inherit;
    transform: translateX(-100px);
    background-color: inherit;
    /* Position */
    position: static;
    transition: none;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__container {
    display: none;
  }

  .menu__item {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .menu__item:hover {
    transform: translateY(-6px);
    background-color: inherit;
    transition: 0.5s all ease-out;
  }

  .menu__link {
    font: var(--font-regular);
    font-size: 22px;
    text-decoration: none;
    color: black;
  }

  .menu__link:hover {
    color: var(--color-orange-main);
    transition: 0.3s all ease-out;
  }
}
